# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# We don't want to upload visual studio files
*.sln
*.db
*.vs
Debug\*.*
*.cod
Week2\Debug\*.obj
Week2\Debug\*.*


# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.ilk
Debug/Week_1.exe
*.pdb
*.obj
*.tlog
*.log
*.idb
*.vcxproj
Week2/Week2.vcxproj.filters
*.opendb
